:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: blue;
  background-color: gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-out {
  transition: opacity 1s ease-out;
  opacity: 0; /* Target opacity for fade-out */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding:25px 5%;

}
main{
  flex:1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mA{
  margin:0 auto;
}

/* Notefrom styles */
.note-form{
  position:fixed;
  background: rgba(0, 0, 0, 0.7);
  top:100px; 
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  max-width:65vw;
  max-height:fit-content;

}
.note-form cancel-btn{
  color:white;
}



/* Custom Styles */
header nav a:not(:last-child) {
  margin-right: 10px;
}

header nav a:hover, header nav a.active {
  text-decoration: underline;
}

header nav button.create-btn{
  background: none;
  border:1px solid #eee;
}
header nav button.create-btn:hover{
  color:orange;
  background-color:#646cff;
  transition: background 0.3s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
